.reveal section img {
    height: 128px;
    width: 128px;
    border: none;
    box-shadow: none;
    display: inline-block;
    margin: 1em .5em;
}

.reveal section img.diagram {
    height: 512px;
    width: auto;
    border: none;
    box-shadow: none;
    margin: 0;
}

.reveal em {
    font-weight: bolder;
    color: #d75f00;
}

.reveal .highlight {
    padding-top: .25em;
    font-weight: bolder;
    color: #d75f00;
}

text {
    visibility: hidden;
}
