.reveal section img {
    height: 128px;
    width: 128px;
    border: none;
    box-shadow: none;
    display: inline-block;
    margin: 1em .5em;
}

.reveal section img.exo {
    height: 256;
    width: auto;
    border: none;
    box-shadow: none;
    margin: 0;
    background: #add9e4;
}

.reveal section img.diagram {
    height: 256px;
    width: auto;
    border: none;
    box-shadow: none;
    margin: 0;
}

.reveal section img.big-diagram {
    height: 512px;
    width: auto;
    border: none;
    box-shadow: none;
    margin: 0;
}

.reveal sup {
    font-size: .4em
}

.reveal em {
    font-weight: bolder;
    color: #d75f00;
}

.reveal .fog {
    opacity: .4;
}

.reveal .highlight {
    padding-top: .25em;
    font-weight: bolder;
    color: #d75f00;
}

.reveal table td.center {
    text-align: center;
}

text {
    visibility: hidden;
}
